body {
    margin: 0;
    background-color: #78bbcb;
    display: flex;
    justify-content: center;
    align-items: center;
    block-size: 100vh;
}

.grid {
    display: grid;
    grid-template-columns: repeat(6,100px);
    grid-template-rows: repeat(6,100px);
}

.grid img {
    max-inline-size: 100%;
    box-sizing: border-box;
}

.boca {
    grid-column-start: 6;
    grid-row-start: 4;
    /* border: 5px solid crimson; */
}

.campana {
    grid-row-start: 4;
    grid-column-start: 1;
    /* border: 5px solid aqua; */
}

.campana2 {
    grid-row-start: 4;
    grid-column-start: 5;

}

.persona {        
    grid-row-start: 2;
    grid-column: 3 / span 2;
    /* border: 5px solid yellowgreen; */
}

.gusano {
    /* border: 5px solid yellow; */
    grid-column-start: 5;
    grid-row-start: 3;
}

.gusano2 {
    grid-row-start: 5;
    inline-size: 60%;
}

.reloj {
    /* border: 5px solid salmon; */
    grid-column-start: 2;
    grid-row-start: 4;
    
}

.reloj2 {
    grid-area: 2 / 2;
}

.reloj3 {
    grid-area: 1 / 1;
}

.tostadora {
    /* border: 5px solid violet; */
    grid-row-start: 3;
    grid-column-start: 1;
}

.tostadora2 {
    /* grid-row-start: 5; */
    grid-area: 5 / 5;
    inline-size: 90%;
}

.tostadora3 {
    grid-area: 2 / 5;
    inline-size: 50%;
}

.boca2 {
    grid-row-start: 3;
    grid-column-start: 2;
    inline-size: 60%;
}

.reloj4 {
    grid-area: 5 / 6;
    inline-size: 50%;
}